<% extend('layout') %>

<!-- Start Main Banner Area -->
<div class="main-banner item-bg-two inner-banner">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <h2>Our MpaMpe</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="about-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-sm-12">
        <div class="section-title">
          <span>TARGET</span>
          <h2>COMMUNITY</h2>
        </div>
        <div class="about-text">
          <p>
            Our main target is to bridge the gap between the donors and the
            people especially women in need by providing a platfrom which will
            allow for fundraising and making of campaigns aimed at supporting
            these people in need easily.
          </p>
          <blockquote>
            "MpaMpe is tartgeting the single mothers, children in the
            orphanages, women/children hospitalised and in need of serious
            medical assistance, street children, to mention but a few and hoping
            to support them raise the necessary funds for their basic needs,
            name it...."
          </blockquote>
          <div class="quoter">
            <h3>Emilly Namuganga</h3>
            <span>Team Lead MpaMpe</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-7 col-sm-12">
        <div class="about-pic-area">
          <div class="video-area">
            <img src="images/emily.jpeg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>

<section class="approach-section section-padding pt0">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="img-holder">
          <img src="images/mari.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="details">
          <h2>Our Approach</h2>
          <p>
            MpaMpe aims to provide a fast way to raise funds with no upfront
            fees. We also aim at providing donors/sponsors with a way to track
            their progress incase of any donations made. While on the platform,
            details about the various categories of campaigns that require
            funding/donating will be exposed, this will enable our donors be in
            position to decide on which campaign to support.
          </p>
        </div>
        <div class="quoter">
          <h3>Balunga Mariam</h3>
          <span>FrontEnd Developer</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>

<section class="approach-section section-padding pt0">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="img-holder">
          <img src="images/ang.jpeg" alt="" width="50%" height="50px" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="details">
          <h2>MISSION</h2>
          <p>
            To create a platform specifically tailored to help individuals or
            Organisations outsource funds for their businesses, ideas and needs
            through using and adopting technology to strategically support their
            efforts.
          </p>
        </div>
        <div class="details">
          <h2>VISION</h2>
          <p>
            To have more people leverage online platforms strategically to
            support their ideas, needs and explore economic opportunities.
          </p>
        </div>

        <div class="quoter">
          <h3>Bukirwa Angella</h3>
          <span>CTO</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>

<section class="approach-section section-padding pt0">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="img-holder">
          <img src="images/roni.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="details">
          <h2>OUR AIM</h2>
          <p>
            Many charities,individuals as well as organisations are struggling
            to collect funds in a world where almost everyone is online. MpaMpe
            aims to help individuals,charities as well as organisations to
            overcome the challenges by embracing digital technologies bringing
            them up to speed with the modern world.
          </p>
        </div>
        <div class="quoter">
          <h3>Atuhaire Ronnie</h3>
          <span>BackEnd Developer</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
