<% extend('layout') %>

<div class="main-banner digital-agency-banner">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="row h-100 align-items-center">
          <div class="col-lg-6 col-md-12">
            <div class="hero-content">
              <h1 class="wow fadeInUp">Coming Soon!</h1>
            </div>
          </div>
          <div class="col-lg-6 col-md-12"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="circle-shape1"><img src="images/woman1.jpg" alt="" /></div>
  <div class="circle-shape2"><img src="images/child3.jpg" alt="" /></div>
  <div class="circle-shape3"><img src="images/woman2.jpg" alt="" /></div>
</div>
