<% extend('layout') %>

<!-- Start Home Banner -->
<div class="home-slides home-banner-four owl-carousel owl-theme">
  <div class="main-banner item-bg7">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="main-banner-content">
                <h1>
                  COLLECTING <span>FUNDS/MONEY</span> HAS NEVER BEEN SO EASY
                </h1>
                <p>But Guess What? MpaMpe is here to make it all easy</p>
                <a href="/create_campaign" class="learn-more-btn do_btn"
                  >Start Campaign</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-banner item-bg8">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="main-banner-content">
                <h1>
                  WITH <span>MpaMpe</span> The Impossible becomes Possible
                </h1>
                <p>Tap On the button below to start a campaign</p>
                <a href="/create_campaign" class="learn-more-btn do_btn"
                  >Start Campaign</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-banner item-bg9">
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="main-banner-content">
                <h1>REACH MORE <span>RAISE MORE</span> DO MORE</h1>
                <p>We are here to help your cause starting today!</p>
                <a href="/create_campaign" class="learn-more-btn do_btn"
                  >Start Campaign</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Home Banner -->

<section class="Campaigns pt80 pb80">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h6 class="nopadding lspace">Discover Campaigns</h6>
        <h1 class="paddtop1 font-weight lspace-sm">
          New <span class="text-orange">campaigns</span>
        </h1>
        <div class="title-line align-center"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="campaign-item">
          <a class="overlay" href="/coming_soon">
            <img src="/images/campaigns_01.jpg" alt="" />
            <span class="fas fa-link"></span>
          </a>
          <div class="campaign-box">
            <a href="index_2.html#" class="category">Nonprofit</a>
            <h3><a href="/coming_soon">Support Orphans</a></h3>
            <div class="campaign-description">
              Many young children becoe opharns at a tender age,Support the
              children in orphanages, Blessed is a hand that giveth than thee
              that recieveth
            </div>
            <div class="campaign-author">
              <a class="author-icon" href="#"
                ><img src="/images/author-01.jpg" alt="" /></a
              >by
              <a class="author-name" href="index_2.html#">Luzinda Mariyah</a>
            </div>
            <div class="process">
              <div class="progress">
                <div class="progress-bar">
                  <div class="progress-value"><span>65</span>%</div>
                </div>
              </div>
              <div class="process-info">
                <div class="process-pledged"><span>245</span>Days left</div>
                <div class="process-funded"><span>6</span>Backers</div>
                <div class="process-time"><span>UGX54800</span>Funded</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="campaign-item">
          <a class="overlay" href="/coming_soon">
            <img src="/images/campaigns_02.jpg" alt="" />
            <span class="fas fa-link"></span>
          </a>
          <div class="campaign-box">
            <a href="index_2.html#" class="category">Nonprofit</a>
            <h3><a href="/coming_soon">Support Single Mothers </a></h3>
            <div class="campaign-description">
              It is such a tough task to raise a child as a single mother, help
              out single mothers with the little support you can, to donate,
              click the donate button in the upper right.
            </div>
            <div class="campaign-author">
              <a class="author-icon" href="#"
                ><img src="/images/author2.jpeg" alt="" /></a
              >by
              <a class="author-name" href="index_2.html#">Bukirwa Angella</a>
            </div>
            <div class="process">
              <div class="progress">
                <div class="progress-bar">
                  <div class="progress-value"><span>60</span>%</div>
                </div>
              </div>
              <div class="process-info">
                <div class="process-pledged"><span>45</span>Days left</div>
                <div class="process-funded"><span>6</span>Backers</div>
                <div class="process-time"><span>UGX74870</span>Funded</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="campaign-item">
          <a class="overlay" href="/coming_soon">
            <img src="/images/author5.jpg" alt="" />
            <span class="fas fa-link"></span>
          </a>
          <div class="campaign-box">
            <a href="#" class="category">Nonprofit</a>
            <h3><a href="/coming_soon">Support Street girls</a></h3>
            <div class="campaign-description">
              Many young girls suffer on streets without basic needs,send in
              your donations by clicking the donate button upper right
            </div>
            <div class="campaign-author">
              <a class="author-icon" href="#"
                ><img src="/images/author3.jpeg" alt="" /></a
              >by
              <a class="author-name" href="index_2.html#">Namugenyi Emilly</a>
            </div>
            <div class="process">
              <div class="progress">
                <div class="progress-bar">
                  <div class="progress-value"><span>70</span>%</div>
                </div>
              </div>
              <div class="process-info">
                <div class="process-pledged"><span>15</span>Days left</div>
                <div class="process-funded"><span>120</span>Backers</div>
                <div class="process-time"><span>UGX548777</span>Funded</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Main Banner Area -->
<section class="Categories pt80 pb80">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <p class="subtitle text-secondary nopadding">
          Make A Donation, Save A life
        </p>
        <h1 class="paddtop1 font-weight lspace-sm">
          Explore more Campaign Categories
        </h1>
      </div>
      <div class="col-md-4 d-lg-flex align-items-center justify-content-end">
        <a href="/coming_soon" class="blist text-sm ml-2">
          See all Categories<i class="fas fa-angle-double-right ml-2"></i
        ></a>
      </div>
    </div>
    <div class="row">
      <div class="swiper-container guides-slider">
        <!-- Additional required wrapper-->
        <div class="swiper-wrapper">
          <!-- Slides-->
          <div class="swiper-slide h-auto px-2">
            <div class="card card-poster gradient-overlay mb-4 mb-lg-0">
              <a href="/coming_soon" class="tile-link"></a
              ><img
                src="/images/woman4.jpg"
                alt="Card image"
                class="bg-image"
              />
              <div class="card-body overlay-content">
                <h6 class="card-title text-shadow text-uppercase">Health</h6>
                <p class="card-text text-sm">Support Women in hospitals</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide h-auto px-2">
            <div class="card card-poster gradient-overlay mb-4 mb-lg-0">
              <a href="/coming_soon" class="tile-link"></a
              ><img
                src="/images/crychild2.jpg"
                alt="Card image"
                class="bg-image"
              />
              <div class="card-body overlay-content">
                <h6 class="card-title text-shadow text-uppercase">Broken</h6>
                <p class="card-text text-sm">
                  Support the broken hearted orphans
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide h-auto px-2">
            <div class="card card-poster gradient-overlay mb-4 mb-lg-0">
              <a href="/coming_soon" class="tile-link"></a
              ><img
                src="/images/woman7.jpg"
                alt="Card image"
                class="bg-image"
              />
              <div class="card-body overlay-content">
                <h6 class="card-title text-shadow text-uppercase">
                  Single Mothers
                </h6>
                <p class="card-text text-sm">Support Single Mothers</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide h-auto px-2">
            <div class="card card-poster gradient-overlay mb-4 mb-lg-0">
              <a href="/coming_soon" class="tile-link"></a
              ><img
                src="/images/child3.jpg"
                alt="Card image"
                class="bg-image"
              />
              <div class="card-body overlay-content">
                <h6 class="card-title text-shadow text-uppercase">HEALTH</h6>
                <p class="card-text text-sm">
                  Support the opharns who need medical attention
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide h-auto px-2">
            <div class="card card-poster gradient-overlay mb-4 mb-lg-0">
              <a href="/coming_soon" class="tile-link"></a
              ><img src="/images/girl2.jpg" alt="Card image" class="bg-image" />
              <div class="card-body overlay-content">
                <h6 class="card-title text-shadow text-uppercase">EDUCATION</h6>
                <p class="card-text text-sm">Donate for girl child education</p>
              </div>
            </div>
          </div>

          <div class="swiper-slide h-auto px-2">
            <div class="card card-poster gradient-overlay mb-4 mb-lg-0">
              <a href="/coming_soon" class="tile-link"></a
              ><img
                src="/images/photo/6.jpg"
                alt="Card image"
                class="bg-image"
              />
              <div class="card-body overlay-content">
                <h6 class="card-title text-shadow text-uppercase">Travels</h6>
                <p class="card-text text-sm">Dalí, Gaudí, Barrio</p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination d-md-none"></div>
      </div>
    </div>
  </div>
</section>
<section class="Campaigns pt80 pb80 StaffPicks clearboth">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h6 class="nopadding lspace">Discover more Campaigns</h6>
        <h1 class="paddtop1 font-weight lspace-sm">
          View<span class="text-orange">Wedding Campaigns</span>
        </h1>
        <div class="title-line align-center"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <div class="card">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Wedding">
              <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <div class="campaign-item">
                    <a class="overlay" href="/coming_soon">
                      <img src="/images/wed.jpg" alt="" />
                      <span class="fas fa-link"></span>
                    </a>
                  </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                  <div class="campaign-item">
                    <div class="campaign-box">
                      <a href="index_2.html#" class="category"
                        >Start Up A Wedding Campaign</a
                      >
                      <h3><a href="/coming_soon">WEDDING CAMPAIGNS</a></h3>
                      <div class="campaign-description">
                        Fundraising for a wedding may tend to be so hectic where
                        by some people end up foregoing holy matrimony just
                        because they have failed to raise money for the event of
                        their dreams, well, MpaMpe is here to help you bring
                        your dream to reality. Easily raise funds for your
                        wedding on this plartform, all you need to do is to
                        click the start campaign button, or click on Campaigns,
                        go under create campaign to start your campaign.
                      </div>
                      <div class="campaign-author">
                        <a class="author-icon" href="index_2.html#"
                          ><img src="/images/author-01.jpg" alt="" /></a
                        >by
                        <a class="author-name" href="index_2.html#"
                          >Luzinda Mariyah</a
                        >
                      </div>
                      <div class="process">
                        <div class="progress">
                          <div class="progress-bar">
                            <div class="progress-value"><span>65</span>%</div>
                          </div>
                        </div>
                        <div class="process-info">
                          <div class="process-pledged">
                            <span>35</span>Days left
                          </div>
                          <div class="process-funded">
                            <span>39</span>Backers
                          </div>
                          <div class="process-time">
                            <span>UGX35000000</span>Funded
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="client-section">
  <div class="section-overlay bg-opacity">
    <div class="container pt80 pb80">
      <div class="row slide-controls-color">
        <div class="col-md-8 col-centered">
          <div class="col-xs-12 text-center">
            <h6 class="nopadding lspace text-white">Our Donors</h6>
            <h1 class="paddtop1 dosis font-weight text-white lspace-sm">
              Our Donors <span class="text-orange">say</span>
            </h1>
            <div class="title-line white align-center"></div>
          </div>
          <div id="owl-demo3" class="owl-carousel">
            <div class="item">
              <blockquote class="style1">
                <span
                  >I would like to thank you MpaMpe and your team members for
                  doing such a wonderful work. It feels good to be a part of
                  your organisation by making a small donation. God bless you
                  all. I will share this with my fellow friends</span
                >
              </blockquote>
              <br />
              <h5 class="text-white">Emily</h5>
              <span class="text-orange">Namugenyi</span>
            </div>
            <div class="item">
              <blockquote class="style1">
                <span
                  >I am here because of the MpaMpe team and I saw that your
                  organisation does an excellent work to help the children and
                  family through turbulent times. You and your staff have a
                  heart of gold and keep up the good work.</span
                >
              </blockquote>
              <br />
              <h5 class="text-white">Atuhaire</h5>
              <span class="text-orange">Ronnie</span>
            </div>
            <div class="item">
              <blockquote class="style1">
                <span
                  >I am a person who feels good whenever i can help out a person
                  out their in need, through this plartform, I have gotten the
                  chance to support as much as i can many people in need, God
                  bless you MpaMpe for this innovation.</span
                >
              </blockquote>
              <br />
              <h5 class="text-white">Bukirwa</h5>
              <span class="text-orange">Angella</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="Campaigns pt80 pb80 clearboth">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="paddtop1 font-weight lspace-sm">
          Completed <span class="text-orange">Campaigns</span>
        </h1>
        <div class="title-line align-center"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="campaign-item">
          <a class="overlay" href="/coming_soon">
            <img src="/images/main-bg-4.jpg" alt="" />
            <span class="fas fa-link"></span>
          </a>
          <div class="campaign-box">
            <a href="index_2.html#" class="category">Nonprofit</a>
            <h3><a href="/coming_soon">Single Mothers</a></h3>
            <div class="campaign-description">
              The MpaMpe organization would love to extend their gratitude to
              all the donors who supported these single mothers, God bless you.
            </div>
            <div class="campaign-author">
              <a class="author-icon" href="index_2.html#"
                ><img src="/images/author-01.jpg" alt="" /></a
              >by
              <a class="author-name" href="index_2.html#">Luzinda Mariyah</a>
            </div>
            <div class="process">
              <div class="progress">
                <div class="progress-bar">
                  <div class="progress-value"><span>100</span>%</div>
                </div>
              </div>
              <div class="process-info">
                <div class="process-pledged"><span>0</span>Days left</div>
                <div class="process-funded"><span>50</span>Backers</div>
                <div class="process-time"><span>UGX 1000000</span>Funded</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="campaign-item">
          <a class="overlay" href="/coming_soon">
            <img src="/images/funds.jpg" alt="" />
            <span class="fas fa-link"></span>
          </a>
          <div class="campaign-box">
            <a href="index_2.html#" class="category">Nonprofit</a>
            <h3><a href="/coming_soon">Women In the market</a></h3>
            <div class="campaign-description">
              Thank you every donor who supported women in the market, God bless
              you.
            </div>
            <div class="campaign-author">
              <a class="author-icon" href="index_2.html#"
                ><img src="/images/author-01.jpg" alt="" /></a
              >by
              <a class="author-name" href="index_2.html#">Luzinda Mariyah</a>
            </div>
            <div class="process">
              <div class="progress">
                <div class="progress-bar">
                  <div class="progress-value"><span>100</span>%</div>
                </div>
              </div>
              <div class="process-info">
                <div class="process-pledged"><span>0</span>Days left</div>
                <div class="process-funded"><span>70</span>Backers</div>
                <div class="process-time"><span>UGX 5000000</span>Funded</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="campaign-item">
          <a class="overlay" href="/coming_soon">
            <img src="/images/woman5.jpg" alt="" />
            <span class="fas fa-link"></span>
          </a>
          <div class="campaign-box">
            <a href="index_2.html#" class="category">Nonprofit</a>
            <h3><a href="/coming_soon">Women in Hospital</a></h3>
            <div class="campaign-description">
              Thank you every donor who supported women in hospitals, God bless
              you.
            </div>
            <div class="campaign-author">
              <a class="author-icon" href="index_2.html#"
                ><img src="/images/author-01.jpg" alt="" /></a
              >by
              <a class="author-name" href="index_2.html#">Luzinda Mariyah</a>
            </div>
            <div class="process">
              <div class="progress">
                <div class="progress-bar">
                  <div class="progress-value"><span>100</span>%</div>
                </div>
              </div>
              <div class="process-info">
                <div class="process-pledged"><span>0</span>Days left</div>
                <div class="process-funded"><span>100</span>Backers</div>
                <div class="process-time"><span>UGX 10000000</span>Funded</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="become-Volunteers">
  <div class="section-overlay bg-opacity">
    <div class="container pt80 pb80">
      <div class="row slide-controls-color">
        <div class="col-md-6 col-sm-12">
          <h1 class="paddtop1 dosis font-weight text-white lspace-sm">
            Become a <span class="text-orange">Volunteer</span>
          </h1>
        </div>
        <div class="col-md-6 col-sm-12">
          <a
            class="Join-us"
            href="index_2.html#"
            data-toggle="modal"
            data-target="#Volunteer"
            >Join us</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="Blog-list pt80 pb80">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-8">
        <p class="subtitle text-secondary nopadding">
          Stories from around the country
        </p>
        <h1 class="paddtop1 font-weight lspace-sm">From our blog</h1>
      </div>
      <div class="col-md-4 d-md-flex align-items-center justify-content-end">
        <a href="/coming_soon" class="blist text-sm">
          See all articles<i class="fas fa-angle-double-right ml-2"></i
        ></a>
      </div>
    </div>
    <div class="row">
      <!-- blog item-->
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card shadow border-0 h-100">
          <a href="/coming_soon"
            ><img
              src="/images/fund9.jpg"
              alt="..."
              class="img-fluid card-img-top"
          /></a>
          <div class="card-body">
            <h5 class="my-2">
              <a href="/coming_soon" class="text-dark">Why MpaMpe </a>
            </h5>
            <p class="text-gray-500 text-sm my-3">
              <i class="far fa-clock mr-2"></i>Sept 16, 2021
            </p>
            <p class="my-2 text-muted text-sm">
              I had issues with raising my tuition for campus, when i came to
              know about MpaMpe, through this platform i was able to raise all
              my tuition, thanks to the MpaMpe team.
            </p>
            <a href="/coming_soon" class="btn btn-link pl-0"
              >Read more<i class="fa fa-long-arrow-alt-right ml-2"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- blog item-->
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card shadow border-0 h-100">
          <a href="/coming_soon"
            ><img
              src="/images/girl1.jpg"
              alt="..."
              class="img-fluid card-img-top"
          /></a>
          <div class="card-body">
            <h5 class="my-2">
              <a href="/coming_soon" class="text-dark">Girl Child EDUCATION</a>
            </h5>
            <p class="text-gray-500 text-sm my-3">
              <i class="far fa-clock mr-2"></i>February 17, 2021
            </p>
            <p class="my-2 text-muted text-sm">
              I had issues with raising my children's school fees, when i came
              to know about MpaMpe, through this platform i was able to raise
              all the remaing balance, thanks to the MpaMpe team.
            </p>
            <a href="/coming_soon" class="btn btn-link pl-0"
              >Read more<i class="fa fa-long-arrow-alt-right ml-2"></i
            ></a>
          </div>
        </div>
      </div>
      <!-- blog item-->
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card shadow border-0 h-100">
          <a href="/coming_soon"
            ><img
              src="/images/funds5.jpg"
              alt="..."
              class="img-fluid card-img-top"
          /></a>
          <div class="card-body">
            <h5 class="my-2">
              <a href="//coming_soon" class="text-dark">Capital </a>
            </h5>
            <p class="text-gray-500 text-sm my-3">
              <i class="far fa-clock mr-2"></i>October, 15 2021
            </p>
            <p class="my-2 text-muted text-sm">
              Through this platform, i managed to raise funds that i used to pay
              my debts hence conducting my business again.
            </p>
            <a href="//coming_soon" class="btn btn-link pl-0"
              >Read more<i class="fa fa-long-arrow-alt-right ml-2"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
