<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link href="/css/style.css" type="text/css" rel="stylesheet" />
<!-- Favicon and Touch Icons -->
<link href="/images/favicon.png" rel="shortcut icon" type="image/png">
<link href="/images/apple-touch-icon.pngzx " rel="apple-touch-icon">
<link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
<!-- Google fonts - witch you want to use - (rest you can just remove) -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<title>MPAMPE | <%= title %></title>
</head>
<body>
<!-- Header topbar -->
<div class="topbar pt10 pb10">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <ul class="list-inline">
          <li> <a href="/coming_soon">FAQ</a> </li>
          <li class="text-white">|</li>
          <li> <a href="/coming_soon">Help Desk</a> </li>
          <li class="text-white">|</li>
          <li> <a href="/contact_us">Support</a> </li>
        </ul>
      </div>
      <div class="col-lg-6 col-sm-6">
        <ul class="socials-top text-right">
          <li><a target="_Blank" href="https://www.facebook.com/profile.php?id=100073468778900"><i class="fab fa-facebook-f"></i></a></li>
          <li><a target="_Blank" href="https://twitter.com/mpa_mpe"><i class="fab fa-twitter"></i></a></li>
          <li><a target="_Blank" href="https://www.mpampe.octachart.com"><i class="fab fa-google-plus-g"></i></a></li>
          <li><a target="_Blank" href="https://www.linkedin.com/in/mpampe-uganda-804414222/"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a target="_Blank" href="https://www.instagram.com/mpampeuganda/"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Header topbar --> 

<!-- Start Main Menu Area -->
<div class="main-header-area header-sticky">
  <div class="container">
    <div class="getfund-nav-container breakpoint-off"> 
      <!-- getfund Menu -->
      <nav class="getfund-navbar justify-content-between" id="listingNav"> 
        
        <!-- Logo --> 
        <a class="nav-brand" href="/"><img src="/images/logo-header.png" alt="logo"></a> 
        
        <!-- Navbar Toggler -->
        <div class="getfund-navbar-toggler"> <span class="navbarToggler"><span></span><span></span><span></span></span> </div>
        
        <!-- Menu -->
        <div class="getfund-menu"> 
          
          <!-- close btn -->
          <div class="getfundcloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>
          
          <!-- Nav Start -->
          <div class="getfundnav">
            <ul>
                <li><a href="/">Home</a></li>  
              </li>
              <li> <a class="sf-with-ul" href="#">Campaigns</a>
                <ul class="dropdown">
                  <li><a href="/create_campaign">Create a campaign</a></li>
                  <li><a href="/campaigns">Campaign List</a></li>
                </ul>
              </li>

              <li> <a class="sf-with-ul" href="#">Info</a>
                <ul class="dropdown">
                  <li><a href="/contact_us">Contact Us</a></li>
                  <li><a href="/about_us">About Us</a></li>
                  <li><a href="/coming_soon">Faq</a></li>
                </ul>
              </li>

              <% if (user) { %>
                <li><a href="#">HI! <%= user.username %></a>
                  <ul class="dropdown">
                    <li><a href="/sign_out">Sign Out</a></li>
                  </ul>
                </li>
              <% } else {%>
                &nbsp;
                <li><a href="/sign_in">Login</a></li>
                &nbsp;
                <li><a href="/sign_up">Register</a></li>
                &nbsp;
              <% } %>
              <li class="right-side">
                <ul>
                  <li><a href="https://preview.templatehouse.net/getfund/donate.html" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-plus"></i>Donate Now</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Nav End --> 
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- End Main Menu Area --> 
<%- include('common/donate') %>
<%- content %>

<section class="section-less-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="clientlogo-list">
          <li><img src="/images/brand2.png" alt="" /></li>
          <li><img src="/images/brand3.png" alt="" /></li>
          <li><img src="/images/brand5.png" alt="" /></li>
          <li><img src="/images/brand6.png" alt="" /></li>
          <li><img src="/images/brand7.png" alt="" /></li>
          <li><img src="/images/logo-header.png" alt="" /></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--FOOTER-->
<footer class="site-footer">
    <div class="footer-menu">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4 col-xs-12">
            <div class="Footer-nav">
              <div class="paymentM"><img src="/images/logo-header.png" alt=""></div>
              <h3></h3>
              <p>MpaMpe is  a web based platform that seeks to help charities,individuals and organisations to digitally fundraise in order to stay up to date with spending habbits of their audience as well as providing transparency during the collection.
              </p> 
              
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-xs-12">
          <br>
          <br>
          <br>
            <div class="Footer-nav">
              <h3>Campaign</h3>
              <ul class="footer-link">
                <li><a href="/create_campaign"><i class="fas fa-long-arrow-alt-right"></i> Campaign</a></li>
                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Donate</a></li>
                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> Discover</a></li>
                <li><a href="/coming_soon"><i class="fas fa-long-arrow-alt-right"></i> Terms of Use</a></li>
               </ul>
            </div>
          </div>
          <div class="col-lg-2 col-sm-4 col-xs-12">
          <br>
          <br>
          <br>
            <div class="Footer-nav">
              <h3>Explore </h3>
              <ul class="footer-link">
                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> EDUCATION</a></li>
                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> HEALTH</a></li>
                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> NON PROFIT</a></li>
                <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i> BUSINESSES</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12 col-xs-12">
          <br>
          <br>
            <div class="Footer-nav newsletter">
              <h3>Newsletter</h3>
              <form action="/coming_soon.html" method="POST" id="newsletterForm">
                <input type="text" value="" name="s" placeholder="Enter your email...">
                <button type="submit" value=""><span class="fas fa-paper-plane"></span></button>
              </form>
              <div class="follow">
                <h3></h3>
                <center> 
                <ul>
                  <code style="font-size: 15px;">Connect &nbsp;</code>
                  <li><a target="_Blank" href="https://www.facebook.com/profile.php?id=100073468778900"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a target="_Blank" href="https://twitter.com/mpa_mpe"><i class="fab fa-twitter"></i></a></li>
                  <li><a target="_Blank" href="https://www.mpampe.octachart.com"><i class="fab fa-google-plus-g"></i></a></li>
                  <li><a target="_Blank" href="https://www.linkedin.com/in/mpampe-uganda-804414222/"><i class="fab fa-linkedin-in"></i></a></li>
                  <li><a target="_Blank" href="https://www.instagram.com/mpampeuganda/"><i class="fab fa-instagram"></i></a></li>
               </ul>
                </center> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- .footer-menu -->
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <p class="copyright">Created With <span style="color: red; font-size: 22px;"> &hearts;</span>  By MpaMpe.</p>
              <p> &copy;
                <script>
                  document.write(new Date().getFullYear())
                </script>
              </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS --> 
<script src="/js/jquery.min.js" type="text/javascript"></script> 
<script src="/js/popper.min.js" type="text/javascript"></script> 
<script src="/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="/js/getfund-nav.min.js" type="text/javascript"></script> 
<script src="/js/owl.carousel.min.js" type="text/javascript"></script> 
<script src="/js/waypoints.min.js" type="text/javascript"></script> 
<script src="/js/jquery.counterup.min.js" type="text/javascript"></script> 
<script src="/js/swiper.min.js" type="text/javascript"></script> 
<script src="/js/custom.js" type="text/javascript"></script>
</body>
</html>